@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  ==========================================================================
   BASE STYLES & RESPONSIVE TYPOGRAPHY
  ==========================================================================
*/
:root {
  font-size: 16px;
}

th, td {
  font-size: clamp(12px, 0.8vw, 15px);
}

/*
  ==========================================================================
   GLOBAL OVERRIDE FOR REACT HOT TOAST
  ==========================================================================
*/
.go2138849764 {
  z-index: 9999 !important;
}
/*Block 2: Accordion transition fix*/
.overflow-hidden {
  will-change: max-height, opacity;
}